.navbar__container {
  position: relative;
  font-size: 14px;
  color: #ffffff;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: center;
  text-align: center;
  min-width: 190px;
  min-height: 768px;
  background-color: #003B72;

  a {
    color: inherit;
    text-decoration: dashed;
  }

  .navbar__link {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 15px 20px;
    border-left: 1px solid transparent;
    background-color: transparent;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: #7761FF;
      background-color: #ffffff;
      border-left: 4px solid #7761FF;
    }

    &:hover path {
      fill: #7761FF;
    }

  }

  .navbar__btn {
    margin-top: 10px;
    background-color: #7761FF;
    border-radius: 5px;
    padding: 10px 25px;
    transition: all 0.2s ease-in-out;
    
    &:hover {
      color: #7761FF;
      background-color: #ffffff;
    }

  }

  .navbar__logo {
    width: 100%;
    padding: 20px;
    text-align: start;
  }

  .navbar__footer {
    width: 100%;
    padding: 10px 25px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    bottom: 55px;
    text-align: center;
  }

}