.btn {
    /*stroke: #ffffff;*/
    transition: all 0.2s ease-in-out;
}

.btn path {
    stroke: white;
}

.btn:hover {
    transform: scale(1.25);
}

.btn:hover path {
    stroke: black;
    fill: black;

}

.btn rect {
    transform: translate(14 14) rotate(-180deg);
}