.monthTitleContainer {
    display: flex;
    flex-direction: row;

}

.monthTitle {
    text-transform: uppercase;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    color: #ffffff;
    margin: 0 35px;
}

.nextBtn {
    fill: #777777;
}