* {
    font-family: 'Rubik', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: #fff;
}

body {
    margin: 0 auto;
    max-width: 1366px;
    min-height: 768px;
    background: #EBE7FF;
}